.idea/*
**/.netrwhist
.config/fzf
**/bk/
.DS_Store
**/plugged/
.config/hub
.config/direnv/*
.config/dlv/.dbg_history
.config/anyenv/*
.config/memo/_posts
.config/gh/hosts.yml
.data/vim-lsp-setting/servers/*
